<html>
  <head>
    <title>Payback time!</title>
    <script src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/pico.min.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
  </head>
  <body>
    <main class="container" style="width: 40%">
      <dialog id="ticketholderdialog">
        <article>
          <header>
            <a href="#" id="closemodal" class="close"></a>
            <p id="ticketholdertitle">Add ticket holder</p>
          </header>
          <form id="ticketholderform">
            <input
              type="hidden"
              id="holderdialogmode"
              name="holderdialogmode"
              value="save"
            />
            <input type="hidden" id="holderid" name="holderid" value="1" />
            <div class="grid">
              <label for="firstname">
                First name
                <input type="text" id="firstname" name="firstname" />
              </label>
              <label for="surname">
                Last name
                <input type="text" id="surname" name="surname" />
              </label>
            </div>
            <label for="ssn">Social security number (12 digits)</label>
            <input
              type="text"
              id="ssn"
              name="ssn"
              placeholder="YYYYMMDD-NNNN"
            />
            <label for="streetaddress">Street address</label>
            <input type="text" id="streetaddress" name="streetaddress" />
            <label for="postalcode">Postal code</label>
            <input type="text" id="postalcode" name="postalcode" />
            <label for="city">City</label>
            <input type="text" id="city" name="city" />
            <label for="ssn">Telephone number</label>
            <input type="text" id="telno" name="telno" />
            <label for="email">Email address</label>
            <input type="text" id="email" name="email" />
            <button type="submit" id="submitholder">Add</button>
          </form>
        </article>
      </dialog>
      <dialog id="info">
        <article>
          <header>
            <a href="#" id="closeinfo" class="close"></a>
          </header>
          <h4>What is this?</h4>
          <p>
            This a silly small webapp that tries to make it as easy as possible
            to seek compensation when Mälartåg or SJ trains are delayed or
            cancelled.
          </p>
          <p>
            When slowly exiting my WFH bubble after the main phase of the 2020+
            pandemic, I got fed up with how often trains were now cancelled or
            delayed, but I never had the energy to actually fill in the form to
            get my money back. In the time I spent on making this I could
            probably have submitted 50+ requests manually, but hey that wouldn't
            have been as fun, right?
          </p>
          <h4>I want to get in contact</h4>
          <p>
            If you have an issue or a feature request or want to get in
            touch for any other reason, you're free to
            <a href="mailto:patrik@nordlen.se">email me</a>, or if you have a
            GitHub account, you can
            <a href="https://github.com/patriknordlen/mt-payback/issues"
              >open an issue in the mt-payback repository</a
            >.
          </p>
        </article>
      </dialog>
      <section>
        <hgroup>
          <h1>mt-payback</h1>
          <p>
            Apply for delay compensation more easily
            <sup><a href="#" id="openinfo">[info]</a></sup>
          </p>
        </hgroup>
      </section>
      <form id="paybackform" autocomplete="off">
        <details>
          <summary id="ticketsummary">Ticket details</summary>
          <section id="ticketdetails">
            <table>
              <tr>
                <td>
                  <label for="ticketholder">Holder</label>
                  <select
                    id="ticketholder"
                    name="ticketholder"
                    style="width: 90%"
                  ></select>
                  <a href="#" class="fa fa-pencil" id="editticketholder"></a>
                  <a
                    href="#"
                    class="fa fa-plus-circle"
                    id="newticketholder"
                  ></a>
                </td>
              </tr>
              <tr>
                <td>
                  <label for="ticket">Number (Mälartåg format)</label
                  ><input type="number" id="ticket" name="ticket" />
                </td>
              </tr>
              <tr>
                <td>
                  <label for="expirydate">Expiry date</label
                  ><input type="date" id="expirydate" name="expirydate" />
                </td>
              </tr>
              <tr>
                <td style="float: right">
                  <button id="saveticket">Save</button>
                </td>
              </tr>
            </table>
            <div class="grid" style="text-align: center">
              <div id="ticketforminfo"></div>
            </div>
          </section>
        </details>
        <details open>
          <summary>Trip details</summary>
          <section id="trip">
            <table>
              <tr>
                <td colspan="2">
                  <label for="departureLocation">From</label>
                  <select id="departureLocation" name="from">
                    <option value="U">Uppsala</option>
                    <option value="Kn">Knivsta</option>
                    <option value="Mr">Märsta</option>
                    <option value="Cst">Stockholm</option>
                    <option value="Srv">Storvreta</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <label for="arrivalLocation">To</label>
                  <select id="arrivalLocation" name="to">
                    <option value="Cst">Stockholm</option>
                    <option value="Srv">Storvreta</option>
                    <option value="Kn">Knivsta</option>
                    <option value="Mr">Märsta</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <label for="operator">Operator</label>
                  <select id="operator" name="operator">
                    <option value="mt">Mälartåg</option>
                    <option value="sj">SJ</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <label for="departureDate">Departure</label>
                  <div class="grid">
                    <div>
                      <input
                        id="departureDate"
                        type="date"
                        name="departureDate"
                        value="{{ today }}"
                      />
                    </div>
                    <div>
                      <select id="departures" name="departureTime"></select>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="2"><input type="submit" value="Submit" /></td>
              </tr>
            </table>
            <div class="grid" style="text-align: center">
              <div id="result"></div>
            </div>
          </section>
        </details>
      </form>
    </main>
  </body>
  <script src="/static/js/app.js"></script>
</html>
